/*@import url(https://fonts.googleapis.com/css?family=Ubuntu:400);*/

@import 'https://fonts.googleapis.com/css?family=Courgette';


@keyframes fade-in-down {
    0% {
        transform: translateX(80%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fade-in-down-vertical {
    0% {
        transform: translateY(80%);
    }

    100% {
        transform: translateY(0%);
    }
}

html, body {
    width: 100%;
    margin: 0px;
    height: 100%;
    font-family: 'Open Sans';
    font-weight: normal;
    -webkit-font-smoothing: antialiased!important;
    overflow: auto;
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0px;
    height: 100%;
    /*background-color: #00A0B1;*/
    background-color: #f39c12;
    /*background-color: #4e6d82;*/
    transition: all 0.3s linear;
}

h2,h3,.pop-up-header{
    font-family: 'Courgette', cursive !important;
}

.tiles {
    width: 15%;
    height: 100%;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    text-align: center;
}


.tile-1 {
    width: 40%;
    background-color: #77736d;
    color: white;
}

.tile-2 {
    background-color: rgba(255,255,255,.1);
}

.tile-3 {
    background-color: rgba(255,255,255,.2);
}

.tile-4 {
    background-color: rgba(255,255,255,.3);
}

.tile-5 {
    background-color: rgba(255,255,255,.4);
}


.tiles h2 {
    font-size: 2.5vw;
    color: white;
}


.tiles p {
    height: 50%;
    color: white;
    opacity: 0;
}

.tile-1 p {
    opacity: 1;
    height: auto;
    /*color:black;*/
}


.tiles i {
    font-size: 8vw !important;
    color: white;
    opacity: 0.5;
}

.tile-1 i {
    font-size: 3vmin !important;
    margin: 0 1%;
    opacity: 1;
}

.tiles:not(.tile-1):hover i {
    opacity: 1;
    transform: scale(1.2);
}


.tiles:hover p {
    opacity: 1;
}

.profile-img {
    border-radius: 50%;
    width: 25%;
    margin-top: 3%;
}







/*pop up close*/
.close:before {
    position: relative;
    display: inline-block;
    overflow: hidden;
    content: "X";
    float: right;
    transform: translate(10%);
}


.md-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.md-show {
    display: inline-block;
    animation-name: fade-in-down;
    animation-duration: 0.5s;
}

/* Content styles */




.md-content {
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    color: black;
    background: #ecf0f1;
    width: 100%;
    height: 100%;
}
    /*header*/
    .md-content h3 {
        margin: 0;
        padding: 2.5% 1.8% 1.5% 0;
        text-align: center;
        font-size: 5vmin;
        font-weight: normal;
        background: #77736d;
        border-radius: 3px 3px 0 0;
        color: white;
    }
    /*content*/
    .md-content > div {
        padding: 1.5%;
        margin: 0;
        /*border: 1px solid #131212;*/
        width: 97%;
        height: 75%;
        position: relative;
        top: 0%;
        left: 0%;
    }

.md-content-left {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45%;
}

.md-content-right {
    /*border: 1px solid #131212;*/
    position: absolute;
    top: 0%;
    left: 50%;
    height: 100%;
    width: 45%;
}


.md-content button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}





.md-perspective {
    width: 0%;
    height: 100%;
}




/*Google map*/
.google-map {
    border: 0;
    width: 95%;
    height: 98%;
    margin: 2.5%;
}

.pop-up {
    margin: 0;
    padding: 1%;
}

.pop-up-header {
    font-size: 1.7vw;
    border-bottom: 1.5px dashed #000;
}

.pop-up-content {
    font-size: 1.2vw;
    /*margin-bottom: 1.5%;
    margin-top: 1.5%;*/
}

/*set font for icon*/
.font-icon-size {
    font-size: 3vmin !important;
    margin: 0 1%;
}

.pop-up-content form input, textarea {
    background: rgba(12, 12, 12, 0.51);
    border: none;
    width: 85%;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 10px;
    color: #fff;
}

.scrollable-div {
    overflow-y: auto;
}

    .scrollable-div::-webkit-scrollbar-track {
        webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #d4d0d0;
    }

    .scrollable-div::-webkit-scrollbar {
        width: 10px;
        background-color: #d4d0d0;
    }

    .scrollable-div::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #77736d;
    }





.skill {
    width: 15%;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    font-size: 3.5vmin;
}

@media screen and (max-width: 720px) {
    .tiles {
        height: 10%;
        width: 100%;
    }

    .tile-1 {
        height: 60%;
    }

    .tiles h2 {
        width: 30%;
        margin: 0;
        display: inline-block;
        font-size: 4vh;
    }

    .tile-1 h2 {
        width: auto;
    }

    .tiles p {
        height: auto;
        width: 50%;
        margin: 0;
        display: inline-block;
    }

    .tile-1 p {
        width: 100%;
    }

    .tiles i {
        font-size: 6vh !important;
        margin-top: 3%;
    }

    .tile-1 i {
        font-size: 4vh !important;
    }

    .profile-img {
        width: 12%;
        display: block;
        margin: auto;
        margin-top: 3%;
    }




    .head-text {
        max-height: 20%;
        position: relative;
        left: 70%;
        top: 35%;
        font-size: 3.0vh;
    }



    .md-content > div {
        font-size: 2vh;
        height: 90%;
    }

    /*.google-map {
        margin: 5%;
        width: 90%;
        height: 60%;
        float: left;
    }*/

    .md-content-left {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 45%;
    }

    .md-content-right {
        position: absolute;
        left: 0%;
        top: 50%;
        width: 100%;
        height: 45%;
    }

    .md-show {
        display: inline-block;
        animation-name: fade-in-down-vertical;
        animation-duration: 0.5s;
    }

    .md-perspective {
        height: 0%;
        width: 100%;
    }

    .skill {
        width: 40%;
    }

    .pop-up-header {
        font-size: 3vh;
    }

    .pop-up-content {
        font-size: 2.5vh;
    }
}
