/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

html, body {
    width: 100%;
    margin: 0px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased!important;
}

.container {
    width: 100%;
    margin: 0px;
    height: 100%;
    /*background-color: #00A0B1;*/
    
    background-color: #E56C19;
}

.tiles {
    width: 15%;
    height: 100%;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    text-align: center;
}


.tile-1 {
    width: 40%;
    background-color: white;
}

.tile-2 {
    background-color: rgba(255,255,255,.1);
}

.tile-3 {
    background-color: rgba(255,255,255,.2);
}

.tile-4 {
    background-color: rgba(255,255,255,.3);
}

.tile-5 {
    background-color: rgba(255,255,255,.4);
}



.icn-profile {
    max-width: 45%;
    position: relative;
    top: 50%;
    left: 25%;
    opacity: 0.5;
}



.tiles h2 {
    font-size: 2.5vw;
    color: white;
}

.tiles p {
    height: 50%;
    color: white;
    opacity: 0;
}

.tiles i {
    font-size: 5vw !important;
    color: white;
    opacity: 0.5;
}

.tiles:hover i {
    opacity: 1;
    transform: scale(1.2);
}

.tiles:hover p {
    opacity: 1;
}









/*pop up close*/
.close:before {
    position: relative;
    display: inline-block;
    overflow: hidden;
    content: "X";
    float: right;
     transform: translate(10%);
}


.md-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    z-index: 2000;
    display: none;
    height: 100%;
}

.md-show {
    display:block;
     width: 100%;
}

/* Content styles */




.md-content {
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    color: black;
    background: white;
    width: 100%;
    height: 100%;
}
    /*header*/
    .md-content h3 {
        margin: 0;
        padding: 2.5% 1.8% 1.5% 0;
        text-align: center;
        font-size: 4.5vmin;
        font-weight: normal;
        background: rgba(0,0,0,0.1);
        border-radius: 3px 3px 0 0;
    }
    /*content*/
    .md-content > div {
        padding: 1.5%;
        margin: 0;
        /*border: 1px solid #131212;*/
        width: 97%;
        height: 75%;
        position: relative;
        top: 0%;
        left: 0%;
    }

.md-content-left {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45%;
}

.md-content-right {
    /*border: 1px solid #131212;*/
    position: absolute;
    top: 0%;
    left: 50%;
    height: 100%;
    width: 45%;
}


.md-content button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}





.md-perspective {
    width:0%;
}

.profile-img {
    width: 85%;
    height: 80%;
    margin: 2.5%;
}

.profile-head {
    color: #FDC2BC;
    font-size: 4.5vmin!important;
    /*font-weight: bold;*/
}

.profile-head-1 {
    color: #F7D3AE;
    font-size: 3vmin!important;
}

/*Google map*/
.google-map {
    border: 0;
    width: 95%;
    height: 98%;
    margin: 2.5%;
}

.pop-up {
    margin: 0;
    padding: 1%;
}

.pop-up-header {
    font-size: 3vmin;
    border-bottom: 1.5px dashed #fff;
}

.pop-up-content {
    font-size: 2.5vmin;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

/*set font for icon*/
.font-icon-size {
    font-size: 3vmin !important;
    margin: 0 1%;
}

.pop-up-content form input, textarea {
    background: rgba(12, 12, 12, 0.51);
    border: none;
    width: 85%;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 10px;
    color: #fff;
}

.scrollable-div {
    overflow-y: auto;
}

    .scrollable-div::-webkit-scrollbar-track {
        webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #ada9a9;
    }

    .scrollable-div::-webkit-scrollbar {
        width: 10px;
        background-color: #ada9a9;
    }

    .scrollable-div::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: black;
    }



@media screen and (max-width: 720px) {
    .tiles {
        /*height: 20%;*/
        height: 25%;
        width: 100%;
    }

    .icn-profile {
        max-height: 40%;
        position: relative;
        top: 15%;
        left: 15%;
    }

    .head-text {
        max-height: 20%;
        position: relative;
        left: 70%;
        top: 35%;
        font-size: 3.0vh;
    }

    /*.md-content h3 {
        font-size: 5vw;
    }*/

    .md-content > div {
        font-size: 2vh;
        height: 90%;
    }

    /*.google-map {
        margin: 5%;
        width: 90%;
        height: 60%;
        float: left;
    }*/

    .md-content-left {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 45%;
    }

    .md-content-right {
        position: absolute;
        left: 0%;
        top: 50%;
        width: 100%;
        height: 45%;
        /*border: 1px solid #131212;*/
    }
}
