html, body {
    width: 100%;
    margin: 0px;
    background: url(../Images/Test/texture.jpg) no-repeat center center fixed;
    background-size: cover;
}


.accordionContainer {
    margin: 0;
}

.uberAccordion {
    padding: 0;
    display: inline;
   height:100%;
    position: absolute;
}

    .uberAccordion > li {
        list-style: none;
        margin: 0;
        background-image: url(../Images/Test/fabric.png);
    }

        .uberAccordion > li > h1 {
            color: #fff;
            margin: 0;
            font-size: 16px;
            padding: 5px;
            cursor: pointer;
        }

    .uberAccordion li:nth-child(1) {
        background-color: #ca0d86;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1), -11px 11px 18px rgba(0,0,0,0.4);
    }

    .uberAccordion li:nth-child(2) {
        background-color: #764394;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1), -10px 10px 16px rgba(0,0,0,0.4);
    }

    .uberAccordion li:nth-child(3) {
        background-color: #3277b5;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1), -8px 8px 12px rgba(0,0,0,0.4);
    }

    .uberAccordion li:nth-child(4) {
        background-color: #87b11d;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1), -6px 6px 8px rgba(0,0,0,0.3);
    }

    .uberAccordion li:nth-child(5) {
        background-color: #ffcf14;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1), -4px 4px 4px rgba(0,0,0,0.2);
    }

    .uberAccordion li:nth-child(6) {
        background-color: #f16729;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1), -2px 2px 1px rgba(0,0,0,0.1);
    }




    .uberAccordion > li > div {
        color: #fff;
        padding: 15px;
        background-color: hsla(0, 0%, 100%, 0.11);
    }


    /* Default CSS for sub-accordion */

    .uberAccordion .uberAccordion > li > h1 {
        font-size: 12px;
        padding: 5px;
    }

    .uberAccordion .uberAccordion > li > div {
        background: rgba(0, 0, 0, 0.4);
        color: #FFF;
    }


    /* Default CSS for vertical orientation */

    .uberAccordion.accordion-vertical {
        height: 100%;
    }

    .uberAccordion .uberAccordion.accordion-vertical {
        height: 260px;
    }

ul.square-bullet li {
    padding: 8px 0 6px 5px !important;
    background-color: inherit !important;
    box-shadow: none !important;
    list-style: square;
}

.first {
    background-image: url(../Images/Test/pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 1px 1px 3px rgba(0,0,0,0.1), -2px 2px 1px rgba(0,0,0,0.1); */
    width: 15%;
    height: 40%;
    border: white 5px solid;
    float: left;
   background-position:center center;
}

.second {
    margin-left: 20%;
    overflow: hidden;
    /* box-shadow: 1px 1px 3px rgba(0,0,0,0.1), -2px 2px 1px rgba(0,0,0,0.1); */
}

@media screen and (max-width: 720px) {
    .first {
        float:none;
       width: 80%;
       height:200px;
       margin: 0 10%;
    }
     .second {
        float: none;
        overflow: hidden;
      
        margin-left: 0;
    }
}
