<<<<<<< HEAD
<<<<<<< HEAD
﻿html, body {
    height: 100%;
    margin: 0px;
}

.content {
 height: 100%;
 vertical-align: top;
 margin:0px;
 padding:0px;
}


.accordion {
    width: 100%;
    max-width: 1080px;
=======
=======
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
﻿.accordion {
    width: 100%;
    max-width: 1080px;
    height: 100%;
<<<<<<< HEAD
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
=======
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
    overflow: hidden;
    margin: 50px auto;
}

    .accordion ul {
        width: 100%;
        display: table;
        table-layout: fixed;
        margin: 0;
        padding: 0;
    }

<<<<<<< HEAD
<<<<<<< HEAD

        .accordion ul li {
            display: table-cell;
            vertical-align: top;
            position: relative;
            width: 8%;
=======
=======
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
        .accordion ul li {
            display: table-cell;
            vertical-align: bottom;
            position: relative;
            width: 8%;
            height: auto;
<<<<<<< HEAD
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
=======
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
            background-repeat: no-repeat;
            background-position: center center;
        }

<<<<<<< HEAD
<<<<<<< HEAD
            .accordion ul li:nth-child(1) {
                background-image: url(../../Images/Resume/back2.jpg);
            }

            .accordion ul li:nth-child(2) {
                background-image: url(../../Images/Resume/back9.jpg);
            }

            .accordion ul li:nth-child(3) {
                background-image: url(../../Images/Resume/back8.jpg);
            }

            .accordion ul li:nth-child(4) {
                background-image: url(../../Images/Resume/back7.jpg);
            }

            .accordion ul li:nth-child(5) {
                background-image: url(../../Images/Resume/back5.jpg);
            }

            .accordion ul li:nth-child(6) {
                background-image: url(../../Images/Resume/back3.jpg);
            }

    .accordion ul:hover li {
            width: 8%;
             
        }

         .accordion ul:hover li:hover {
                width: 60%;
                
            }

         .accordion ul:hover li:hover a {
                    background: rgba(0, 0, 0, 0.4);
                }



           .accordion ul li div {
=======
            .accordion ul li div {
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
=======
            .accordion ul li div {
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
                display: block;
                overflow: hidden;
                width: 100%;
            }


                .accordion ul li div a {
                    display: block;
<<<<<<< HEAD
<<<<<<< HEAD
=======
                    height: 350px;
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
=======
                    height: 350px;
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
                    width: 100%;
                    position: relative;
                    z-index: 3;
                    padding: 15px 20px;
                    box-sizing: border-box;
                    color: #fff;
                    text-decoration: none;
                    font-family: Open Sans, sans-serif;
                    transition: all 200ms ease;
                }

                    .accordion ul li div a * {
                        opacity: 0;
                        margin: 0;
                        width: 100%;
                        text-overflow: ellipsis;
                        position: relative;
                        z-index: 5;
                        white-space: nowrap;
                        overflow: hidden;
                        -webkit-transform: translateX(-20px);
                        transform: translateX(-20px);
                        -webkit-transition: all 400ms ease;
                        transition: all 400ms ease;
                    }

<<<<<<< HEAD
<<<<<<< HEAD
                           
                    .accordion ul:hover li:hover a * {
                        opacity: 1;
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                    }


=======
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
=======
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
                    .accordion ul li div a h2 {
                        font-family: Montserrat, sans-serif;
                        text-overflow: clip;
                        font-size: 24px;
                        text-transform: uppercase;
                        margin-bottom: 2px;
                        top: 0%;
                    }

                    .accordion ul li div a p {
                        top: 0%;
                        font-size: 13.5px;
                        white-space: inherit;
                    }

<<<<<<< HEAD
<<<<<<< HEAD


       

           

         
@media screen and (max-width: 600px) {
    body {
        margin: 0;
      
=======
=======
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
            .accordion ul li:nth-child(1) {
                width: 100%;
                background-image: url(../../Images/Resume/back2.jpg);
            }

            .accordion ul li:nth-child(2) {
                background-image: url(../../Images/Resume/back9.jpg);
                
            }

            .accordion ul li:nth-child(3) {
                background-image: url(../../Images/Resume/back8.jpg);
            }

            .accordion ul li:nth-child(4) {
                background-image: url(../../Images/Resume/back7.jpg);
            }

            .accordion ul li:nth-child(5) {
                background-image: url(../../Images/Resume/back5.jpg);
            }

            .accordion ul li:nth-child(6) {
                background-image: url(../../Images/Resume/back3.jpg);
            }

        .accordion ul:hover li {
            width: 8%;
        }

            .accordion ul:hover li:hover {
                width: 60%;
            }

                .accordion ul:hover li:hover a {
                    background: rgba(0, 0, 0, 0.4);
                }

                    .accordion ul:hover li:hover a * {
                        opacity: 1;
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                    }

@media screen and (max-width: 600px) {
    body {
        margin: 0;
        height: 100%;
<<<<<<< HEAD
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
=======
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
    }

    .accordion ul li:hover {
        background-size: 100% 100%;
    }

    .accordion ul li,
    .accordion ul li:hover,
    .accordion ul:hover li,
    .accordion ul:hover li:hover {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transition: none;
        transition: none;
<<<<<<< HEAD
<<<<<<< HEAD
         
=======
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
=======
>>>>>>> 1a5ab81db1d63826e866f09f9682b8f65c12e25c
    }
}
