/*@import url(http://fonts.googleapis.com/css?family=Allura);*/

:root {
    --transform:rotate(45deg);
    --transition:all 1.5s linear;
}


@keyframes fade-in-down {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        opacity: 1 !important;
        display: block;
    }
}

@keyframes fade-out-down {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(500px);
        opacity: 0;
    }
}




html, body {
    width: 100%;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: cursive;
    -webkit-font-smoothing: antialiased;
}

html{
    background-size: cover;
    background-image: url(../../Images/Background/001_paper_2872x2592_all-free-download.com.jpg);
    overflow: auto;
   
}

.container {
    width: 1000px;
    margin: 0;
    height:  1000px;
   
}



/*.main-menu {
    position: absolute;
    width: 100%;
    min-height: 100%;
}*/

    .main-menu div {
        display: table-cell;
        position: absolute;
        -moz-transform: var(--transform);
        -ms-transform: var(--transform);
        -o-transform: var(--transform);
        -webkit-transform: var(--transform);
        transform: var(--transform);
        z-index: -1;
    }

        .main-menu div:before {
            content: "";
            display: block;
            padding-top: 100%;
        }

    .main-menu .middle {
        width: 50vmin;
        background-color: orangered;
        top: 25vmin;
        left: 38vw;
        z-index: 1;
        transition: var(--transition);
    }

        .main-menu .middle h1 {
            font-size: 7vmin;
            position: absolute;
            transform: rotate(-45deg);
            margin: 0;
            left: 2vw;
            top: 8.5vh;
            transition: var(--transition);
        }



.side {
    width: 20vmin;
    height: 20vmin;
    transition: var(--transition);
}

.main-menu .top {
    background-color: aqua;
    top: 18vh;
    left: 58.4vw;
}

.main-menu .left {
    background-color: yellowgreen;
    top: 18vh;
    left: 32vw;
}

.main-menu .right {
    background-color: hotpink;
    top: 62vh;
    left: 32vw;
}

.main-menu .bottom {
    background-color: #e2ab10;
    top: 62vh;
    left: 58.4vw;
}


.content {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

    .content div {
        opacity: 0;
        display: table-cell;
        position: absolute;
        -moz-transform: var(--transform);
        -ms-transform: var(--transform);
        -o-transform: var(--transform);
        -webkit-transform: var(--transform);
        transform: var(--transform);
    }

    .content .middle {
        width: 70vmin;
        height: 70vmin;
        top: 0;
        left: 0;
        z-index: 1;
        transition: var(--transition);
    }

    .content .bottom {
        opacity: 0;
        width: 20vmin;
        height: 20vmin;
        top: 50vh;
        left: 81vw;
        transition: var(--transition);
    }

        .content .bottom h3 {
            opacity: 0;
        }


        .main-menu h3, .content .bottom h3 {
            position: absolute;
            transform: rotate(-45deg);
            margin: 0;
            font-size: 3vmin;
            text-align: center;
            left: 1.4vw;
            top: 7vh;
        }

.center {
    opacity: 0;
    left: 40% !important;
    top: 40% !important;
}

.header-content {
    width: 20vmin;
    height: 20vmin;
    background-color: blanchedalmond;
    top: 15vmin;
    left: 50vmin;
}

.Summary, .Skills, .Experience, .Projects {
    opacity: 0;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    transform: rotate(0)!important;
    display: none;
    /*transition: all 1s linear;*/
}



/*transition*/
.header-tile {
    width: 20vmin!important;
    height: 20vmin !important;
    top: 13.6vh !important;
    left: 26.5vw !important;
}

.center-tile {
    opacity: 0;
    left: 40vw !important;
    top: 40vh !important;
}

.content-tile {
    top: 15vmin !important;
    left: 32.4vw !important;
    opacity: 1 !important;
}

.display-tile {
    opacity: 1 !important;
    display: block;
    animation-name: fade-in-down;
    animation-duration: 0.2s;
}

.back-tile {
    opacity: 1!important;
    top: 66.6vh !important;
    left: 62.4vw !important;
}

.header-text {
    font-size: 20px !important;
    transform: rotate(-90deg);
    left: 3.5vw !important;
    top: 7.4vh !important;
}


.main {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 65vmin;
    height: 44vmin;
    align-items: center;
    transform: rotate(0)!important;
    opacity: 0;
}

.top-left-data {
    -webkit-shape-outside: polygon(0 0, 0 100%,100% 0);
    float: left;
    width: 20vmin;
    height: 20vmin;
    /*background-color: lightgray;*/
    -webkit-clip-path: polygon(0 0, 0 100%,100% 0);
    transform: rotate(0)!important;
}

.top-right-data {
    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 0);
    float: right;
    width: 20vmin;
    height: 20vmin;
    /*background-color: lightgray;*/
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
    transform: rotate(0)!important;
}

.left-data {
    -webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
    float: left;
    width: 20vmin;
    height: 20vmin;
    /*background-color: lightgray;*/
    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
    transform: rotate(0)!important;
}

.right-data {
    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    float: right;
    width: 20vmin;
    height: 20vmin;
    /*background-color: lightgray;*/
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    transform: rotate(0)!important;
}

.main-tile {
    opacity: 1!important;
    top: 13vmin !important;
    left: 35vw !important;
    transition-delay: 1.5s;
}

.font-icon-size {
    font-size: 2.5vmin !important;
    margin: 0 1%;
}
