/*@import url(http://fonts.googleapis.com/css?family=Allura);*/

:root {
    --transform:rotate(45deg);
    --transition:all 1s linear;
}


@keyframes fade-in-down {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        opacity: 1 !important;
        display: block;
    }
}

@keyframes fade-out-down {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(500px);
        opacity: 0;
    }
}

@keyframes size-up {
    0% {
        transform: rotate(45deg) scale(1.3);
    }

    100% {
        transform: rotate(45deg);
    }
}


html, body {
    width: 100%;
    margin: 0;
    height: 100%;
    font-family: cursive;
    -webkit-font-smoothing: antialiased;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

body {
    background-size: cover;
    background-image: url(../../Images/Background/001_paper_2872x2592_all-free-download.com.jpg);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -340px;
    margin-left: -340px;
    width: 720px;
    height: 720px;
}

.main-menu div {
    position: absolute;
    transform: var(--transform);
    z-index: 1;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}


.main-menu .middle {
    width: 400px;
    height: 400px;
    top: 150px;
    left: 150px;
   
    /*background-color: orangered;*/
    transition: var(--transition);
}
.main-menu .middle ::after{
   background-size: cover;
    background: url(../../Images/Background/photo-1464621922360-27f3bf0eca75.jpg) 0 0 content-box;
}
.side {
    width: 160px;
    height: 160px;
    transition: var(--transition);
    text-align: center;
}

.main-menu .top {
    background-color: aqua;
    top: 80px;
    left: 475px;
}

.main-menu .left {
    background-color: yellowgreen;
    left: 65px;
    top: 80px;
}

.main-menu .right {
    background-color: hotpink;
    left: 65px;
    top: 460px;
}

.main-menu .bottom {
    background-color: #e2ab10;
    top: 460px;
    left: 475px;
}


/*.content {
    position: absolute;
    width: 100%;
    min-height: 100%;
}*/

.content div {
    opacity: 0;
    display: table-cell;
    position: absolute;
    -moz-transform: var(--transform);
    -ms-transform: var(--transform);
    -o-transform: var(--transform);
    -webkit-transform: var(--transform);
    transform: var(--transform);
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.content .middle {
    width: 0;
    height: 0;
    top: 100px;
    left: 100px;
    z-index: 0;
    transition: var(--transition);
}

.content .bottom {
    opacity: 0;
    width: 160px;
    height: 160px;
    top: 50vh;
    left: 81vw;
    transition: var(--transition);
}

    .content .bottom h3 {
        opacity: 0;
    }


    .main-menu h3, .content .bottom h3, .main-menu .middle h1 {
        margin-left: auto;
        margin-right: auto;
        /*width: 6em;*/
        transform: rotate(-45deg);
        font-size: 3vmin;
        margin: 0;
    }

.main-menu .middle h1 {
    font-size: 7vmin;
}


.center {
    opacity: 0;
    left: 40% !important;
    top: 40% !important;
   
}

.header-content {
    width: 160px;
    height: 160px;
    /*background-color: blanchedalmond;*/
    top: 15vmin;
    left: 50vmin;
}

.Summary, .Skills, .Experience, .Projects {
    opacity: 0;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    transform: rotate(0)!important;
    display: none;
    /*transition: all 1s linear;*/
}



/*transition*/
.header-tile {
    width: 160px!important;
    height: 160px !important;
    top: 30px !important;
    left: 46px!important;
}

.center-tile {
    opacity: 0;
    left: 30% !important;
    top: 30% !important;
     width: 0px!important;
    height: 0px!important;
    z-index:-1 !important;
}

.content-tile {
    width: 510px !important;
    height: 510px !important;
    opacity: 1 !important;
}

.display-tile {
    opacity: 1 !important;
    display: block;
    animation-name: fade-in-down;
    animation-duration: 0.2s;
}

.back-tile {
    opacity: 1!important;
    top: 510px !important;
    left: 510px!important;
    z-index: 1;
}

.header-text {
    font-size: 20px !important;
    transform: rotate(-90deg);
    left: 3.5vw !important;
    top: 7.4vh !important;
}


.main {
    position: relative;
    top: 100px;
    left: 100px;
    width: 0;
    height: 0;
    align-items: center;
    transform: rotate(0)!important;
    opacity: 0;
}


.content-data {
    z-index: -1;
    width: 160px;
    height: 160px;
    transform: rotate(0)!important;
}

.top-left-data {
    -webkit-shape-outside: polygon(0 0, 0 100%,100% 0);
    float: left;
    -webkit-clip-path: polygon(0 0, 0 100%,100% 0);
}

.top-right-data {
    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 0);
    float: right;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0);
}

.left-data {
    -webkit-shape-outside: polygon(0 0, 100% 100%, 0 100%);
    float: left;
    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.right-data {
    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    float: right;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.main-tile {
    opacity: 1!important;
    transition-delay: 1s;
    width: 510px !important;
    height: 510px !important;
}

.font-icon-size {
    font-size: 2.5vmin !important;
    margin: 0 1%;
}

@media (max-height: 750px),(max-width : 750px) {
    body {
        overflow: auto;
    }
}
