
/*option 1*/
/*html, body {
    width: 100%;
    margin: 0;
    height: 100%;
    background-color: black;
}

.container {
    width: 100%;
    margin: 0;
    height: 100%;
    opacity: 0.6;
    background-image: url(../../Images/Background/photo-1421344424210-2db540391216.jpg);
    background-size: cover;
}*/


/*option 2*/
html, body {
    width: 100%;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    /*background-image: url(../../Images/Background/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg);*/
    background-size: cover;
    /*background-image: url(../../Images/Background/texture-wallpaper-preview-9.jpg);*/
    /*background-image: url(../../Images/Background/photo-1421344424210-2db540391216.jpg);*/
    /*background-image: url(../../Images/Background/photo-1444159759392-aeeb3d5851c1.jpg);*/
    background-image: url(../../Images/Background/001_paper_2872x2592_all-free-download.com.jpg);
}

.container {
    width: 100%;
    margin: 0;
    height: 100%;
    background-color: rgba(119, 118, 118, 0.21);
    /* min-height: 100%; */
}

.header {
    position: absolute;
    width: 100%;
    height: 16%;
    margin: 0;
    /*padding-top: 1%;*/
    background-color: rgba(70, 67, 67, 0.66);
    /*background-color: rgba(166, 75, 75, 0.69);*/
    /*background: radial-gradient(rgba(150, 28, 28, 0.59), rgba(255, 192, 203, 0.65));*/
    /* background: radial-gradient(rgb(166, 75, 75)37%,rgba(255, 255, 255, 0.41)); */
    -moz-animation-name: dropHeader;
    -o-animation-name: dropHeader;
    -webkit-animation-name: dropHeader;
    animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes dropHeader {
    0% {
        -moz-transform: translateY(-1000%);
        -ms-transform: translateY(-1000%);
        -o-transform: translateY(-1000%);
        -webkit-transform: translateY(-1000%);
        transform: translateY(-1000%);
        visibility: hidden;
    }

    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
    }
}

.content {
    position: relative;
    width: 85%;
    height: 75%;
    top: 20%;
    /* border: 0.75em solid gray; */
    left: 9%;
    padding-left: 1%;
    animation-name: dropHeader;
    animation-duration: 1s;
}


.content-header {
    position: relative;
    width: 50%;
    /* min-height: 25%; */
         padding: 0 27%;
    height: 100%;
    left: 5%;
}




.header-text {
    width: 25%;
    margin: auto;
    float: left;
    height: 100%;
}

    .header-text span {
        color: #eeeeee;
        font-size: 5.5vmin;
        font-weight: bold;
        top: 25%;
        position: relative;
        text-align: center;
        width: 100%;
        float: inherit;
    }

.circular-div {
    width: 12.5%;
    padding-bottom: 12.5%;
    margin: auto 1%;
    position: relative;
    background-color: #eeeeee;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 0.7s ease-in;
    border: 5.5px solid #eeeeee;
    text-align: center;
    display: inline-block;
    top: 5%;
}

.circular-div-hover {
    transform: scale(1.2);
}

.summary {
    /*background-image: url(../../Images/Test/pic.jpg);*/
    background-image: url(../../Images/Resume4/profle-512.png);
}

.skills {
    background-image: url(../../Images/Resume4/tools-512.png);
}

.experience {
    background-image: url(../../Images/Resume4/briefcase-512.png);
}

.project {
    background-image: url(../../Images/Resume4/dev-512.png);
}


.contact {
    background-image: url(../../Images/Resume4/contacts-512.png);
}

.content-header-contact {
    width: 25%;
    float: right;
}
.section {
    /*color: white;*/
    /* margin-top: 2%; */
    display: none;
    transition: all 0.7s ease-in;
    position: relative;
    top: 0;
    left: 0;
    height: 95%;
    padding: 2% 5%;
    background-color: rgba(245, 181, 10, 0.74);
    background: linear-gradient(rgba(249, 181, 0, 0.42),#F9B703);
    border-radius: 17px;
}

.section-display {
    display: block;
    animation-name: dropContent;
    animation-duration: 0.5s;
}

.section-header {
    font-size: 36px;
}

.section-content {
    font-size: 20px;
    /* margin: 1%; */
    /* overflow-y: auto; */
    width: 100%;
    height: 95%;
}

@keyframes dropContent {
    0% {
        transform: translateY(100%);
        visibility: hidden;
    }

    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
    }
}



.section-content-left {
    float: left;
    height: 100%;
    width: 40%;
}


.section-content-right {
    /*border: 1px solid #131212;*/
    float: right;
    height: 100%;
    width: 55%;
}

/*Google map*/
.google-map {
    border: 0;
    width: 95%;
    height: 98%;
    margin: 2.5%;
    /*padding-top: 2%;*/
}


.pop-up-header {
    font-size: 3vmin;
    border-bottom: 1.5px dashed #fff;
}

.pop-up-content {
    font-size: 2.5vmin;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

.font-icon-size {
    font-size: 24px !important;
    margin: 0 1%;
}

.pop-up-content form input, textarea {
    background: rgba(12, 12, 12, 0.51);
    border: none;
    width: 85%;
    height: 35px;
    padding-left: 5px;
    margin-bottom: 10px;
    color: #fff;
}

.skill {
    /*text-align: center;*/
    width: 25%;
    margin: auto;
    float: left;
}

    .skill span {
        display: inline-block;
        font-size: 2.6vmin;
        font-weight: bold;
    }

.sub-skill {
    height: 30%;
}

.sub-skill-content {
    overflow: auto;
    overflow-y: hidden;
    height: 100%;
    float: left;
    width:100%;
}

.skill-circle {
    width: 40%;
}

/*.sub-skill {
    width: 33%;
     height: 100%;
     margin:auto;
     display:inline-block;
}

.skill-content {
    font-size: 20px;  
    height: 95%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; 
}*/


